# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log


# Django
/staticfiles/
/media/
/db.sqlite3


# Virtual environment
.env
.venv/
env/
venv/


# IDEs
.vscode/
.idea/


# OS
.DS_Store
Thumbs.db


# Migrations
**/migrations/
!**/migrations/__init__.py
