{% extends 'myapp/template.html' %}

{% block title %} Чат бот {% endblock %}

{% block content %}
<div class="chat-box">
    <div class="chat-output">
        {% if chat_history %}
            {% for item in chat_history %}
                <div class="user-right">
                    <div class="chat-message user"><strong>Запит:</strong> {{ item.user }}</div>
                </div>
                <div class="chat-message bot"><strong>Відповідь:</strong> {{ item.bot }}</div>
                <br>
            {% endfor %}
        {% else %}
            <div class="chat-message bot">Почнемо спілкування. Введіть "дата" або "час" </div>
            <br>
        {% endif %}
    </div>

    <hr>

    <div class="base-card">
        <form method="post" class="chat-form">
            {% csrf_token %}
            <input type="text" name="user_input" placeholder="Напишіть: дата або час" required>
            <button type="submit">Відправити</button>
        </form>
    </div>
</div>

<script>
    window.onload = function() {
        const chatOutput = document.querySelector('.chat-output');
        if (chatOutput) {
            chatOutput.scrollTop = chatOutput.scrollHeight;
        }
    };
</script>

{% endblock %}