<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
	<title>
		{% block title %}
		{% endblock %}
	</title>
</head>
<body>
	<div class="container">
		<div class="sidebar">
			<div class="image-container">
				<img src="{% static 'myapp/images/logo.png' %}" alt="logo.png">
			</div>
			<hr>
			<div class="navbar">
				<form method="post" action="{% url 'index' %}">
    				{% csrf_token %}
    				<input type="hidden" name="user_input" value="очистити чат">
    				<button type="submit" class="global-button">Очистити чат</button>
				</form>
			</div>
		</div>

		<div class="table-content">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</body>
</html>